.brand{
    height: 5rem;
}

.botonMenu{
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    width: 9rem;
    height: 5rem;
}

.botonIdiomas{
    text-align: center;
    vertical-align: middle;
    color: #ddd;
    width: 9rem;
    height: 5rem;
}

.botonMenu:hover{
    background-color: #ddd;
    color: #222;
    transition-delay: 0.3s;
}

.botonIdioma:hover{
    background-color: #ddd;
    color: #222;
    transition-delay: 0.3s;
}

ul{
    background-color: #222;    
}

a{
    background-color: #222;
    color: #ddd;
}

a:hover{
    background-color: #ddd;
    color: #222;
    transition-delay: 0.3s;
}

nav{
    background-color: #222;
}