<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="brand" src="../../../assets/img/Logo2023.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link botonMenu" aria-current="page" routerLink="/aboutme">{{currentTexts.aboutme}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonMenu" routerLink="/experience">{{currentTexts.experience}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonMenu" routerLink="/education">{{currentTexts.education}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonMenu" routerLink="/portfolio">{{currentTexts.portfolio}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link botonMenu" routerLink="/contact">{{currentTexts.contact}}</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle botonIdiomas" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{currentTexts.language}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="changeLanguage('es')">Español</a></li>
              <li><a class="dropdown-item" (click)="changeLanguage('en')">English</a></li>
              <li><a class="dropdown-item" (click)="changeLanguage('pt')">Português</a></li>
              <li><a class="dropdown-item" (click)="changeLanguage('de')">Deutsch</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>