@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}

body{
   font-family: Montserrat;
   background-image: url("../img/background.jpg");
   background-repeat: no-repeat;
   color: white;
}

a{
    text-decoration: none;
}

.barranavegacion{
    float: right;
}

.contenedorbarra{
    text-align: center;
}

.barra{
    display: inline-block;
}

.nav-link{
    color: white;
}

.content{
    height: 40em;
}

.fotoperfil{
    border-radius: 100%;
    width: 50em;
}

.textoIntro{
    font-size: larger;
}

.homecontainer{
    margin-left: 10rem;
    width: 80rem;
    height: 45rem;
    vertical-align: middle;
    display: inline-block;
}

.aboutcontainer{
    display: block;
}

.posicion{
    display: inline-block;
    padding-top: 2rem;
    height: 4rem;
}

.logoempresa{
    width: 2rem;
    border-radius: 100%;
}

.accordion-button{
    background-color: transparent;
    color: white;
}

.accordion-item{
    background-color: transparent;
    color: white;
}

.nombreposicion{
    width: 17em;
    padding-left: 3em;
}

.tituloposicion{
    width: 70%;
}

.tituloabout{
    height: 10em;
    padding-top: 3em;
}

.botonampliar{
    float: right;
    color: black;
}

.portfoliocontainer{
    display: inline;
    text-align: center;
}

.contactcontainer{
    margin-left: 5%;
    margin-top: 10%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.home{
    margin-top: 5em;
    margin-left: 15%;
    width: 70%;
    display: inline;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.intro{
    width: 30em;
}



.urlProyecto{
    text-decoration: none;
    color: inherit;
    z-index: 0;
}

.botonContacto{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;    
}

.botonContacto:hover{
    background: #fff;
    color: #050801;
    box-shadow: 0 0 5px #ccc,
                0 0 25px #ccc,
                0 0 50px #ccc,
                0 0 200px #ccc;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

