@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}

body{
   font-family: Montserrat;
}

.barranavegacion{
    float: right;
}

.contenedorbarra{
    text-align: center;
}

.barra{
    display: inline-block;
}

.content{
    height: 40em;
}

.fotoperfil{
    border-radius: 100%;
    width: 20em;
}

.homecontainer{
    padding-left: 20%;
    display: inline;
    visibility: visible;
}

.aboutcontainer{
    display: block;
}

.posicion{
    display: inline-block;
    padding-top: 2rem;
    height: 4rem;
}

.logoempresa{
    width: 2rem;
    border-radius: 100%;
}

.tituloposicion{
    width: 70%;
}

.botonampliar{
    float: right;
    color: black;
}

.portfoliocontainer{
    display: inline;
}

.contactcontainer{
    display: inline;
}

.home{
    margin-left: 10%;
    width: 30%;
    display: inline;
    float: left;
    padding: 3em;
    text-align: center;
}

.intro{
    width: 30em;
}

.descripcionApp{
    padding-top: 5em;
}

.urlProyecto{
    text-decoration: none;
    color: inherit;
    z-index: -1;
}

.botonContacto{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;    
}

.botonContacto:hover{
    background: #fff;
    color: #050801;
    box-shadow: 0 0 5px #ccc,
                0 0 25px #ccc,
                0 0 50px #ccc,
                0 0 200px #ccc;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

