@font-face{
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}

body{
   font-family: Montserrat;
}

.content{
    height: 40em;
    border: dotted;
}

.fotoperfil{
    border-radius: 100%;
    width: 20em;
}

.about{
    display: inline;
    padding: 3em;
}