<div class="container">
    <div class="card position" *ngFor="let experience of experiences">
        <div class="card-header header">
            {{experience["position"]}} || {{experience["company"]}} || {{experience["time"]}}
        </div>
        <div class="card-body">
            {{experience["description"]}}
        </div>
        <div class="card-footer">
            <img class="tech_stack" *ngFor="let tecnologia of experience['technologies']" src="../../../../assets/img/{{tecnologia}}.png">
        </div>
    </div>
</div>
