<div class="container">
    <table>
        <tr>
            <td class="td_icono"><img class="icono" src="../../../assets/img/Email.png"></td>
            <td><a href="mailto:marioemorac@gmail.com">marioemorac@gmail.com</a></td>
        </tr>
        <tr>
            <td class="td_icono"><img class="icono" src="../../../assets/img/Phone.png"></td>
            <td><a href="https://wa.me/34615125338">+34 615 125 338</a></td>
        </tr>
        <tr>
            <td class="td_icono"><img class="icono" src="../../../assets/img/LinkedIn.png"></td>
            <td><a href="https://www.linkedin.com/in/mario-e-mora-chacon">Mario Mora</a></td>
        </tr>
        <tr>
            <td class="td_icono"><img class="icono" src="../../../assets/img/Instagram.png"></td>
            <td><a href="https://instagram.com/codigobymario">codigobymario</a> / <a href="https://instagram.com/misterblackberry">misterblackberry</a></td>
        </tr>
        <tr>
            <td class="td_icono"><img class="icono" src="../../../assets/img/Github.png"></td>
            <td><a href="https://github.com/mmorac">mmorac</a></td>
        </tr>
    </table>
</div>