<div class="container">
    <div class="card title">
        <div class="card-header">
            Master's in Data Science & Business Intelligence || IMF Smart Education || April 2023 - Present
        </div>
        <div class="card-body">
            Master's Degree covering topics such as Data Governance, Data Analysis, Statistic Models, among others.
        </div>
    </div>
    <div class="card title">
        <div class="card-header">
            Master Web Front End Developer || Virtual Learning of America || August 2022 - February 2023
        </div>
        <div class="card-body">
            Certification of proficiency in Angular, React and VueJS frameworks.
        </div>
    </div>
    <div class="card title">
        <div class="card-header">
            Bachelor's in Software Engineering || Universidad Técnica Nacional || January 2011 - December 2018
        </div>
    </div>
</div>